.subtitle1 {
  margin-top: -23px !important;
  margin-bottom: 10px;
  color: #ababab;
}
.btn1 {
  border-radius: 50%;
  background-color: rgb(44, 152, 144);
  border: none;
  color: white;
  font-size: 58px;
  font-size: 22px;
  padding: 6px 13px;
  /* width: 37px; */
  box-shadow: 2px 4px 10px #c3ebe8;
  /* float: right; */
}
h1 {
  font-size: 26px;
  font-weight: 900;
}
